<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/a157f31727.js" crossorigin="anonymous"></script>


        <link rel="stylesheet" href="../../static/css/estilos.css">


        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    </head>
    <body>

        <div th:include="plantilla/plantilla_admin::header"></div>
        <div class="container p-4 shadow">
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>Exitos!</strong> Se registro un nuevo producto.
            </div>
            <h3>Inventario</h3>
            <hr>
            <div class="container">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Nuevo Producto
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Nuevo Producto</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="#" class="was-validated">

                                <div class="modal-body">
                                    <div class="row">


                                        <div class="form-group col-4">
                                            <label for="cod">Codigo:</label>
                                            <input type="text" class="form-control" id="cod" placeholder="Ej. 565566" name="cod" required>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Debe ingresar un codigo.</div>
                                        </div>
                                        <div class="form-group col">
                                            <label for="pwd">Descripción:</label>
                                            <input type="text" class="form-control" id="desc" placeholder="Ej. ruleman" name="desc" required>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Ingresa una descripción.</div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        
                                    
                                    <div class="form-group col">
                                        <label for="pwd">Categoria:</label>

                                        <select id="categoria" class="form-select" required>
                                            <option selected disabled>Categoria</option>
                                            <option>Todos</option>
                                            <option>Filtros</option>
                                            <option>Bombas</option>
                                            <option>Rodamientos</option>
                                            <option>Insumos</option>
                                            <option>Accesorios</option>
                                            <option>Maquinaria</option>
                                        </select>
                                        <br>
                                    </div>
                                    <div class="form-group col">
                                        <label for="stock">Stock:</label>
                                        <input type="number" class="form-control" min="1" id="stock" placeholder="Ej. 30" name="stock" required>
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Ingresa stock.</div>
                                    </div>
                                    <div class="form-group col">
                                        <label for="precio">Precio Unidad:</label>
                                        <input type="number" min="1" step="0.01" class="form-control" id="precio" placeholder="Ej. $ 23500.50" name="precio" required>
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Ingresa un precio.</div>
                                    </div>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>        
            <hr>


            <div class="container">
                <form>
                    <div class="row">
                        <div class="col">
                            <select id="categoria" class="form-select" >
                                <option selected disabled>Categoria</option>
                                <option>Todos</option>
                                <option>Filtros</option>
                                <option>Bombas</option>
                                <option>Rodamientos</option>
                                <option>Insumos</option>
                                <option>Accesorios</option>
                                <option>Maquinaria</option>
                            </select>


                        </div>
                        <div class="col">
                            <input class="form-control" placeholder="Ej. ruleman" type="text"/>

                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Buscar</button>

                        </div>
                        <div class="col">
                            <button class="btn btn-secondary" onclick="print()">Imprimir</button>
                        </div>
                    </div>
                </form>
            </div>



            <hr>
            <div class="container">
                <table class="table table-hover" >
                    <thead class="bg-secondary" >
                        <tr>
                            <th>#</th>
                            <th>Codigo</th>
                            <th>Descripción</th>
                            <th>Categoria</th>
                            <th>Stock La Banda</th>
                            <th>Stock Quimili</th>
                            <th>Precio Unidad</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>38723</td>
                            <td>Ruleman</td>
                            <td>Rodamiento</td>
                            <td>10</td>
                            <td>2</td>
                            <td>$230.2</td>
                            <td><a  th:href="@{/admin/productos/editar}" class="btn btn-sm btn-warning" title="Editar" ><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="btn btn-sm btn-danger" title="Eliminar"><i class="fa-solid fa-trash"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:include="plantilla/plantilla_admin::footer"></div>





        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script> 


    </body>
</html>
